<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="assets/images/favicon-32x32.png"
        />
        <link rel="stylesheet" href="assets/src/css/style.css" />
        <title>Tip calculator app</title>
    </head>
    <body>
        <header class="logo">
            <img src="assets/svg/logo.svg" alt="App logo - Splitter" />
        </header>

        <section class="calculator">
            <form id="calculatorApp" v-bind="store.calculate()">
                <!-- {{ store }} -->
                <div class="calc-input">
                    <div class="bill">
                        <label for="bill">Bill</label>
                        <div class="input-container">
                            <img
                                src="assets/svg/icon-dollar.svg"
                                alt="Dollar Sign"
                            />
                            <input
                                v-model="store.bill"
                                type="number"
                                id="bill"
                                name="bill"
                                placeholder="0"
                            />
                        </div>
                    </div>
                    <div class="tip">
                        <p>Select Tip %</p>
                        <div class="tip-buttons">
                            <button
                                class="tip-btn"
                                data-tip="5"
                                v-on:click.prevent="store.getTip(5)"
                                @click="store.isActive"
                            >
                                5%
                            </button>
                            <button
                                class="tip-btn"
                                data-tip="10"
                                v-on:click.prevent="store.getTip(10)"
                                @click="store.isActive"
                            >
                                10%
                            </button>
                            <button
                                class="tip-btn"
                                data-tip="15"
                                v-on:click.prevent="store.getTip(15)"
                                @click="store.isActive"
                            >
                                15%
                            </button>
                            <button
                                class="tip-btn"
                                data-tip="25"
                                v-on:click.prevent="store.getTip(25)"
                                @click="store.isActive"
                            >
                                25%
                            </button>
                            <button
                                class="tip-btn"
                                data-tip="50"
                                v-on:click.prevent="store.getTip(50)"
                                @click="store.isActive"
                            >
                                50%
                            </button>
                            <input
                                id="customTip"
                                @keyup="store.customTip"
                                type="number"
                                placeholder="Custom"
                            />
                        </div>
                    </div>
                    <div class="pax">
                        <label for="pax">Number of People</label>
                        <div class="input-container">
                            <img
                                src="assets/svg/icon-person.svg"
                                alt="Person Icon"
                            />
                            <input
                                v-model="store.pax"
                                type="number"
                                id="pax"
                                name="pax"
                                placeholder="0"
                            />
                        </div>
                    </div>
                </div>
                <div class="calc-results">
                    <div class="tip-amount">
                        <p class="amount-labels">
                            Tip Amount<br /><span>/&nbsp;person</span>
                        </p>
                        <p class="calculations heading-1">
                            ${{ store.tipPerPerson }}
                        </p>
                    </div>
                    <div class="total-amount">
                        <p class="amount-labels">
                            Total<br /><span>/&nbsp;person</span>
                        </p>
                        <p class="calculations heading-1">
                            ${{ store.totalPerPerson }}
                        </p>
                    </div>
                    <div class="reset">
                        <input
                            v-on:click="store.reset()"
                            type="reset"
                            placeholder="Reset"
                            class="button"
                            :disabled="store.isDisabled()"
                        />
                    </div>
                </div>
            </form>
        </section>

        <script type="module" src="assets/src/js/app.js" defer></script>
    </body>
</html>
