@font-face {
    font-family: "space-mono";
    font-display: swap;
    src: url("../../fonts/subset-SpaceMono-Bold.woff2") format("woff2"),
        url("../../fonts/subset-SpaceMono-Bold.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
}
