// colours
$primary: hsl(172, 67%, 45%);
$primary--dark: hsl(183, 100%, 15%);
$grey--dark: hsl(186, 14%, 43%);
$grey: hsl(184, 14%, 56%);
$grey--light: hsl(185, 41%, 84%);
$off-white: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$bg: $grey--light;

// fonts
$font: "space-mono", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Helvetica, Arial, Apple Color Emoji,
    Segoe UI Emoji;
