.animate {
  opacity: 0;
  transform: translateY(5%);
  transition: all 1s ease;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-family: "space-mono", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  background-color: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
}

/* Set core body defaults */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body.loaded .animate {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "space-mono";
  font-display: swap;
  src: url("../../fonts/subset-SpaceMono-Bold.woff2") format("woff2"), url("../../fonts/subset-SpaceMono-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}
.font-xl {
  font-size: clamp(3rem, 1.2vw + 2.76rem, 3.81rem);
  line-height: calc(2px + 2ex + 2px);
}

h1,
.heading-1 {
  font-size: clamp(1.94rem, 1.57vw + 1.62rem, 3rem);
  line-height: calc(2px + 2ex + 2px);
}

h2,
.heading-2 {
  font-size: clamp(1.56rem, 0.56vw + 1.45rem, 1.94rem);
  line-height: calc(2px + 2ex + 2px);
}

h3,
.heading-3 {
  font-size: clamp(1.31rem, 0.37vw + 1.24rem, 1.56rem);
  line-height: calc(2px + 2ex + 2px);
}

h4,
.heading-4,
.input {
  font-size: clamp(1.25rem, 0.37vw + 1.18rem, 1.5rem);
  line-height: calc(2px + 2ex + 2px);
}

h5,
.heading-5 {
  font-size: clamp(1.13rem, 0.37vw + 1.05rem, 1.38rem);
  line-height: calc(2px + 2ex + 2px);
}

h6,
p {
  font-size: clamp(1rem, 0vw + 1rem, 1rem);
  line-height: calc(2px + 2ex + 2px);
}

.logo {
  margin-bottom: 4rem;
}

.calculator {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1.5rem;
  width: min(100vw, 670px);
}
.calculator form {
  display: flex;
  column-gap: 2rem;
}
@media (max-width: 500px) {
  .calculator form {
    flex-direction: column;
    row-gap: 2rem;
  }
}

.calc-input,
.calc-results {
  flex: 1;
}

.calc-input {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.calc-input .input-container {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.calc-input .input-container:focus, .calc-input .input-container:focus-within {
  border-color: hsl(172, 67%, 45%);
}
.calc-input label {
  display: block;
  margin-bottom: 0.35rem;
}

.calc-results {
  display: flex;
  flex-direction: column;
  background-color: hsl(183, 100%, 15%);
  border-radius: 8px;
  padding: 1.5rem;
}
.calc-results .amount-labels {
  color: hsl(185, 41%, 84%);
}
.calc-results .amount-labels span {
  color: hsl(184, 14%, 56%);
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(189, 41%, 97%);
  border-radius: 4px;
  padding: 0.35rem;
}
.input-container img {
  width: 0.75rem;
  height: 1rem;
  margin-left: 0.5rem;
}
.input-container input {
  width: 100%;
  background-color: transparent;
}

input[type=number] {
  border: none;
  outline: none;
  text-align: right;
  color: hsl(183, 100%, 15%);
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.tip > p {
  margin-bottom: 0.35rem;
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 0.75rem;
}
@media (max-width: 500px) {
  .tip-buttons {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.tip-buttons button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-block: 0.5rem;
}
.tip-buttons button:hover, .tip-buttons button:focus, .tip-buttons button.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tip-buttons input {
  background-color: hsl(189, 41%, 97%);
  padding: 0.35rem;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.tip-buttons input:focus, .tip-buttons input:focus-within {
  border-color: hsl(172, 67%, 45%);
}
.tip-buttons input::placeholder {
  text-align: center;
}

.pax-input-container {
  transition: border-color 0.3s ease;
}
.pax-input-container.error {
  border-color: #ff4500;
}

.tip-amount,
.total-amount {
  display: flex;
  justify-content: space-between;
  row-gap: 0.35rem;
  margin-bottom: 1.5rem;
}
.tip-amount .calculations,
.total-amount .calculations {
  color: hsl(172, 67%, 45%);
}

.reset {
  margin-top: auto;
}
.reset input {
  cursor: pointer;
  transition: all 0.3s ease;
}
.reset input:hover, .reset input:focus {
  background-color: hsl(185, 41%, 84%);
}
.reset input[disabled] {
  background-color: hsl(186, 14%, 43%);
  color: hsl(183, 100%, 15%);
  cursor: not-allowed;
}

.button {
  display: inline-block;
  width: 100%;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border-radius: 4px;
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
